* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    color: white;
    border-bottom: 2px solid gray;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: 'Karla';
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a.nav-logo {    /*this targets the anchor inside the navbar class */
    float: left;
    height: 80px;
    line-height: 40px;
    padding: 30px;
    font-size: 40px;
    text-transform: UPPERCASE;
    letter-spacing: 2px;
    font-family: 'Karla';
    color: white;
    font-weight: bold;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover {
    text-shadow: 3px 3px 12px rgb(255, 255, 255); /* Glowing text effect */
    

}

body {
    background-color: black;
}

.content {
    font-family: 'karla';
    color: white;
    margin-top: 30%;
    margin-left: 100px;
}

h1 {
    font-size: 70px;
}

p {
    margin-top: 10px;
    margin-left: 350px;
    font-size: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btns {
    margin-top: 20px;
    background-color: black;
    cursor: pointer;
    color: white;
    padding: 12px 20px;
    float: left;
    border: 2px solid;
    border-color:white;
    border-radius: 8px;
    margin-left: 10px;
    text-decoration: none;
}

.btns:hover {
    box-shadow: 0 0 12px #ffffff;
}

.btns:active
{
    background-color: white;
    color: black;
    transition: 0.3s;
}

img {
    margin: 90px 130px;
    width:75%; height:75%;
    filter:invert(70%);

}

img:hover {
    cursor: pointer;
}

img:active
{
    width:74%; height:74%;
    transition: 0.2s;
}


/* this is for dropdown menu */


.dropdown-content {
    position: absolute;
    background-color: black;
    color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height:0px;
    overflow:hidden;
    border: 2px solid white;
    border-radius: 10px;
    border-top:none;
    border-bottom:none;
    transition: max-height 0.5s;

}

.dropdown-btn:hover + .dropdown-content,
.dropdown-content:hover {
    border: 2px solid white;
    border-radius: 10px;
    max-height:250px;
    display: block;
    transition: max-height 0.5s;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:2px solid white;
}

#logout
{
    border-bottom:none;
}

.dropdown-content a:hover {
    text-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}