<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Admin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.png') }}">
</head>

<body>
    <nav class="navbar">
        <a href="/Home.html" class="nav-logo">Chord Analyzer</a>
        <ul>
            <li><a href="/Home.html">Home</a></li>
            <li><a href="/Analyze.html">Analyze</a></li>
            <li><a href="/Forum.html">Forum</a></li>
            {% if logged_in %}
                <li class="dropdown">
                     <a href="#" class="dropdown-btn">{{ username }}</a>  <!-- dont forget your spaces for proper interpolation-->
                    <div class="dropdown-content">
                        <a href="/Settings.html" id ="settings">Settings</a>
                        <a href="/YourPosts.html" id ="your-posts">Your Posts</a>
                        <a href="#" id="logout">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="/Login.html">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>

        <div class="BothContainer">
        <div class="admin-panel">
                    <p>
                        Admin Panel
                    </p>
        </div>

        <div class="UserList">
            <p id="error-message"></p>
            <table>
                <caption>
                    Userlist
                </caption>

                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr> 

                    <!-- <tr>
                        <td data-cell="username">anu</td>
                        <td data-cell="email">anu@anu.com</td>
                        <td data-cell="status">active</td>
                    </tr> 
                    
                    <tr>
                        <td data-cell="username">anugen</td>
                        <td data-cell="email">angenu@agennu.com</td>
                        <td data-cell="status">banned</td>
                    </tr> 

                    <tr>
                        <td data-cell="username">anveaaau</td>
                        <td data-cell="email">anvu@atnu.com</td>
                        <td data-cell="status">active</td>
                    </tr> 

                    <tr>
                        <td data-cell="username">anveqqu</td>
                        <td data-cell="email">anvu@atnu.com</td>
                        <td data-cell="status">deleted</td>
                    </tr> 

                    <tr>
                        <td data-cell="username">anveu</td>
                        <td data-cell="email">anvu@atnu.com</td>
                        <td data-cell="status">active</td>
                    </tr>  --> 
            </table>
            <div class="confirmation-buttons">
            <button id="save-button">Save</button>
            <button id="cancel-button">Cancel</button>
            </div>
            
        </div>
    </div>



    </main>
<script src="{{ url_for('static', filename='js/Admin.js') }}"></script>
</body>

</html>