<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/PinnedHowTo.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.png') }}">
</head>

<body>
    <nav class="navbar">
        <a href="/Home.html" class="nav-logo">Chord Analyzer</a>
        <ul>
            <li><a href="/Home.html">Home</a></li>
            <li><a href="/Analyze.html">Analyze</a></li>
            <li><a href="/Forum.html">Forum</a></li>
            {% if logged_in %}
                <li class="dropdown">
                     <a href="#" class="dropdown-btn">{{ username }}</a>  <!-- dont forget your spaces for proper interpolation-->
                    <div class="dropdown-content">
                        <a href="/Settings.html" id ="settings">Settings</a>
                        <a href="/YourPosts.html" id ="your-posts">Your Posts</a>
                        <a href="#" id="logout">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="/Login.html">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
    <div class="BothContainer">
        <div class="PublishingDetails">
            <p>
                Posted by Anu on 8th August, 2023
            </p>
        </div>

        <div class="Title">
            <p>
                Guide: How to use this website.
            </p>
        </div>

        <div class="Post">
            <p>
                Just Press on the frets you want and it will give you all the possible names. Press Play to get the idea of how each string is supposed to sound.
            </p>
        </div>
    </div>
    </main>

    <script src="{{ url_for('static', filename='js/PinnedHowTo.js') }}"></script>
</body>

</html>